# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.vscode/settings.json
.vs/slnx.sqlite
.vs/1946557392/v16/.suo
.vs/VSWorkspaceState.json
*.blend
*.blend1
.vscode/launch.json
*.psd
*.pdn
*.mtl
*.obj
*.bak
.vscode/extensions.json
zzz_image_library/People Of the 4 Nations/AIR/Air_people_2 - kopie.png
zzz_image_library/People Of the 4 Nations/AIR/NAT_minister_of_works_1.dds
zzz_image_library/People Of the 4 Nations/AIR/NAT_minister_of_works_1.png
zzz_image_library/People Of the 4 Nations/AIR/NAT_minister_of_works_2.png
Avatar-mine/
gfx/interface/unit_categories/category_balloon.dds
gfx/flags/GGT.tga
descriptor.mod
gfx/leaders/REX/portrait_REX_Jianzhu_large.dds
descriptor.mod
descriptor.mod
